.page{
	margin-left: 20%;
	margin-right: 20%;
}
.table2{
	width: 700px;
}
p{
	text-align: justify;
	padding: 0px 0px 0px 0px;
}
blockquote{
	border-radius: 5px;
	border: 2px solid black;
}
h1, h2, h3 {
	margin-top: 1.5em;
	font-family: Arial, sans-serif;
}
h1{
	font-size: 32px;
}
table{
	border: 1px double black;
}
th,  td{
	border: 1px double black;
}
figcaption{
	font-style: italic;
}
figure {
	text-align: center;
	margin: 0 0px 0px 10px;
	float:  right;
}